@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --white: #FFFFFF;

    --primary: #C5E4E9;
    --secondary: #004B4C;
    --tertiary: #17C9AA;
    --quaternary: #006F78;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--secondary);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--secondary);
}